@-webkit-keyframes zero-run-init {
    from { background-position: 0px 0px; }
    to { background-position: -275px 0px; }
}

@-webkit-keyframes zero-run {
    from { background-position: -110px 0px; }
    to { background-position: -825px 0px; }
}

@-webkit-keyframes zero-stand {
    from { background-position: 0px -50px; }
    to { background-position: -105px -50px; }
}

/*@-webkit-keyframes zero-fly{    
    from { background-position: 0px -100px; height: 80px; top: 120px;}
    to { background-position: -540px -100px;  height: 80px; top: 120px;}
}*/

@-webkit-keyframes zero-smalljump{
    from { background-position: 0px -100px; height: 80px; top: 150px;}
    to { background-position: -540px -100px;  height: 80px; top: 40px;}
}
@-webkit-keyframes zero-jump{
    from { background-position: 0px -100px; height: 80px; top: 120px;}
    to { background-position: -260px -100px;  height: 80px; top: 40px;}
}

@-webkit-keyframes zero-fall{
    from { background-position:-270px -100px; height: 80px; top: 40px;}
    to { background-position: -540px -100px;  height: 80px; top: 150px;}
}

@-webkit-keyframes zero-move-right {
    to   { left: 300px; }
}

@-webkit-keyframes zero-move-left {
    to   { left: 300px; }
}

@-webkit-keyframes bg-move-right {
    to   { left: -7688px; }
}

@-webkit-keyframes bg-move-left {
    to   { left: 0px; }
}
            
#viewport {
    background-image: url("../images/bg.png");
    background-position: -6700px -3px;
    height: 225px;
    width: 640px;
}

#zero {
    background-image: url("../images/zero.png");
    margin: 0 auto;
    
    width: 55px;
    height: 50px;
    
    position: absolute;
    top: 150px;
    left: 300px;
    
    /*
    background-position: -815px -660px;
    */
    
    /*
    -webkit-animation: 
        zero-run-init 0.8s steps(5, end) 1,
        zero-run 1s steps(8, end) infinite;
    */
}

.bg-move-right {
    -webkit-animation: 
        bg-move-right 1s linear infinite,        
}

.bg-move-left {
    -webkit-animation: 
        bg-move-left 1s linear infinite,        
}

.zero-stand {
    -webkit-animation: zero-stand 1s steps(2, end) infinite;
}
.zero-smalljump{
    -webkit-animation:        
        zero-smalljump 1s steps(10, end) 1;
}

.zero-jump {
    -webkit-animation:        
        zero-jump 0.4s steps(5, end) 1;
}

.zero-fall {
    -webkit-animation:        
        zero-fall 0.4s steps(5, end) 1;
}

.zero-run-right {
    -webkit-animation: 
        zero-move-right 4s linear infinite,
        zero-run 1s steps(13, end) infinite;
}

.zero-run-left {
    -webkit-animation: 
        zero-move-left 4s linear infinite,
        zero-run 1s steps(13, end) infinite;
}

.zero-run-instant {
    -webkit-animation: zero-run 1s steps(13, end) 1;
    -webkit-animation-delay: -1s;
}